<section id="contact-us">
	<h2 class="mt-4 text-md sm:text-xl text-cyan" >Contact Us</h2>
  <p>Call us at <a href="tel:+16163007603">+1-616-300-7603</a></p>
  <p>Email us at <a href="mailto:contact@newliteracy.online">contact@newliteracy.online</a></p>
  <p>Located at: 123 Main St, Holland, MI 49424 (By Appointment Only)</p>
	<br/>
</section>