<section id="services">
<h3 class="mt-4 text-md sm:text-xl text-cyan">Other Services Offered</h3>
  <ul>
    <li><a href="/computer-system-build-consultation-holland-mi-49424.html">Computer System Build Consultation</a></li>
    <li><a href="/computer-repair-holland-mi-49424.html">Computer Repair</a></li>
    <li><a href="/web-development-holland-mi-49424.html">Web Development</a></li>
    <li><a href="/computer-sales-holland-mi-49424.html">Computer Sales</a></li>
    <li><a href="/private-tech-services-holland-mi-49424.html">Private Technology Serices </a></li>
		<li><a href="automation-and-technology-consulting-holland-mi-49424.html">Automation & Technology Consulting</a></li>
    <li><a href="/online-presence-monitoring-holland-mi-49424.html">Online Presence Monitoring</a></li>
	</ul>
<section>